<!-- * * * * * * * Content below is for testing! * * * * * * * * * * * * * * * * * -->

<h1>Weather Data Analysis</h1>
<hr>

  <table id="weather">
        <tr>
            <th *ngFor="let column of headers">
                {{column}}
            </th>
        </tr>
    
        <tr *ngFor="let row of data">
            <td *ngFor="let col of headers">
                {{row[col]}}
            </td>
        </tr>
    
  </table>

<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->